spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.LongDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: com.codecamp.week3.*
        spring.json.value.default.type: com.codecamp.week3.notification_service.events.event.UserCreateEvent
        spring.json.use.type.headers: false